.logo {
  width: 200px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #ff731d;
}

.logo-container {
  background-color: white;
  padding: 10px;
}
