.div-container {
  height: 83vh;
  background: #ffff;
  // padding: 15px 0;
  overflow-y: scroll;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 10px 0 0 10px;
}

.range-dates {
  padding: 0 0 0 10px;
}

.flex-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
}

.left {
  // display: flex;
  justify-content: flex-start;
}

h1,
h4 {
  margin: 0 !important;
}

nz-range-picker {
  margin: 0 8px 12px 0;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

.cl-15 {
  max-width: 15%;
  min-width: 15%;
}

.cl-45 {
  max-width: 40%;
  min-width: 40%;
}

.cl-25 {
  max-width: 25%;
  min-width: 25%;
}

.card-charge {
  height: 13rem;
  width: 14rem;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fa7827;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.row-container {
  padding: 15px;
  display: flex;
}

.charges-div {
  width: 100%;
  height: 15rem;
  display: flex;
  overflow: auto;
}

@media only screen and (max-width: 900px) {
  .card-charge {
    height: 9rem;
    width: 10rem;
    border-radius: 50%;
  }

  h2 {
    font-size: 14px;
  }

  .charges-div {
    width: 100%;
    height: 10rem;
    display: flex;
    overflow: auto;
  }
}

button{
  border: none;
  background: transparent;
}
