<div>
  <div class="flex">
    <h4>{{ data.label }}</h4>
  </div>

  <div class="flex">
    <h3>Debes: &nbsp;</h3>
    <h3>{{ pendingBalance | currency }}</h3>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Cantidad a pagar</mat-label>
    <input [(ngModel)]="amount" (ngModelChange)="handleChangeInput()" type="number" matInput placeholder="Total" />
  </mat-form-field>

  <br />
  <button (click)="handleMakePayment()" [disabled]="isDisabled" mat-raised-button>Pagar</button>
  <br />
  <span class="alert" *ngIf="status">Pago exitoso!</span>
</div>
