h4 {
  font-size: 24px;
  font-weight: 500;
}

.mat-form-field {
  width: 100%;
}

.alert {
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgb(20, 32, 126);
  font-size: 24px;
  font-weight: 500;
}
