<main>
  <div class="logo">
    <img src="../../assets/logo/logo.png" alt="Katch me Up" />
  </div>

  <div class="example-input">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="signUp()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Nombre" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input type="number" nz-input formControlName="budget" placeholder="Presupuesto del mes" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        type="submit"
        [disabled]="this.validateForm.invalid"
      >
        Registrarse
        <i *ngIf="showLoading" class="fa fa-spinner fa-spin"></i>
      </button>
      O
      <a routerLink="/login" style="color: black">Inicia sesión!</a>
    </form>
  </div>
</main>
